n8n/workflows/certificate_generation_pipeline_APzyGskMoXRCHBtH.json
{
  "id": "APzyGskMoXRCHBtH",
  "name": "Certificate Generation Pipeline",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approved-certificate",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Directus Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        112,
        240
      ],
      "webhookId": "4744f850-7598-438b-93bd-f2d8329ab0cd"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.payload?.status }}",
              "value2": "Approved"
            },
            {
              "value1": "={{ $json.body.collection }}",
              "value2": "Submissions"
            }
          ]
        }
      },
      "id": "status-check-id",
      "name": "Check Approved Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        288,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://directus-production-69c0.up.railway.app/items/Submissions/{{ $json.body.keys[0] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-submission-id",
      "name": "Fetch Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pykovaGnwSaykDqr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://directus-production-69c0.up.railway.app/users/{{ $('Fetch Submission').item.json.data.user_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-user-id",
      "name": "Fetch User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pykovaGnwSaykDqr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://directus-production-69c0.up.railway.app/items/Courses/{{ $('Fetch Submission').item.json.data.course_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-course-id",
      "name": "Fetch Course",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pykovaGnwSaykDqr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": "1F8S_-gBt6KrnV_CCj-QTk5RdFphpYIlWyJNPfOtiamU",
        "name": "=Certificate - {{ ($('Fetch User').item.json.data.legal_name && $('Fetch User').item.json.data.legal_name !== 'null' && $('Fetch User').item.json.data.legal_name.trim() !== '') ? $('Fetch User').item.json.data.legal_name : (($('Fetch User').item.json.data.first_name || '') + ' ' + ($('Fetch User').item.json.data.last_name || '')).trim() }}",
        "options": {}
      },
      "id": "copy-template-id",
      "name": "Copy Template",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WmdiNZNt6QPR2Q7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy Template').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{legal_name}}",
              "replaceText": "={{ ($('Fetch User').item.json.data.legal_name && $('Fetch User').item.json.data.legal_name !== 'null' && $('Fetch User').item.json.data.legal_name.trim() !== '') ? $('Fetch User').item.json.data.legal_name : (($('Fetch User').item.json.data.first_name || '') + ' ' + ($('Fetch User').item.json.data.last_name || '')).trim() }}"
            },
            {
              "action": "replaceAll",
              "text": "{{course_title}}",
              "replaceText": "={{ $('Fetch Course').item.json.data.title }}"
            },
            {
              "action": "replaceAll",
              "text": "{{tea_id}}",
              "replaceText": "={{ $('Fetch User').item.json.data.tea_id || 'N/A' }}"
            },
            {
              "action": "replaceAll",
              "text": "{{issued_date}}",
              "replaceText": "={{ new Date().toLocaleDateString() }}"
            }
          ]
        }
      },
      "id": "update-gdoc-id",
      "name": "Generate Certificate Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1184,
        192
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Jol2cofNtQnQPW20",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $('Copy Template').item.json.id }}",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "download-pdf-id",
      "name": "Export to PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WmdiNZNt6QPR2Q7g",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://directus-production-69c0.up.railway.app/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "=Certificate - {{ ($('Fetch User').item.json.data.legal_name && $('Fetch User').item.json.data.legal_name !== 'null' && $('Fetch User').item.json.data.legal_name.trim() !== '') ? $('Fetch User').item.json.data.legal_name : (($('Fetch User').item.json.data.first_name || '') + ' ' + ($('Fetch User').item.json.data.last_name || '')).trim() }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-directus-id",
      "name": "Upload PDF to Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1552,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pykovaGnwSaykDqr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://directus-production-69c0.up.railway.app/items/Certificates",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"user_id\":\"{{ $('Fetch Submission').item.json.data.user_id }}\",\"course_id\":\"{{ $('Fetch Submission').item.json.data.course_id }}\",\"pdf_url\":\"https://directus-production-69c0.up.railway.app/assets/{{ $json.data.id }}\",\"issued_date\":\"{{ new Date().toISOString() }}\"}",
        "options": {}
      },
      "id": "create-certificate-id",
      "name": "Create Certificate Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1728,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "pykovaGnwSaykDqr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $('Fetch User').item.json.data;\nconst course = $('Fetch Course').item.json.data;\nconst pdfBinary = $('Export to PDF').item.binary.data;\n\nconst base64Content = pdfBinary.data;\n\nconst jsonBody = {\n  from: \"Guiding Diversity <cpe@guidingdiversity.com>\",\n  reply_to: \"guidingdiversity@gmail.com\",\n  to: user.email,\n  subject: \"Congratulations! Your Certificate is ready\",\n  html: `<p>Dear ${user.first_name},</p><p>Congratulations on passing the course <strong>${course.title}</strong>!</p><p>Please find your certificate attached to this email.</p><p>Best regards,<br/>Guiding Diversity CPE team</p>`,\n  attachments: [\n    {\n      filename: `Certificate - ${user.legal_name || (user.first_name + ' ' + user.last_name)}.pdf`,\n      content: base64Content\n    }\n  ]\n};\n\nreturn { json: jsonBody };"
      },
      "id": "prepare-email-payload-id",
      "name": "Prepare Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-email-id",
      "name": "Send Certificate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "oJp1K98DfgudDjtl",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Copy Template').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2260,
        192
      ],
      "id": "a4c63303-2ce0-4a2b-9d96-9db2823c2eba",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WmdiNZNt6QPR2Q7g",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Directus Webhook": {
      "main": [
        [
          {
            "node": "Check Approved Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approved Status": {
      "main": [
        [
          {
            "node": "Fetch Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Submission": {
      "main": [
        [
          {
            "node": "Fetch User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User": {
      "main": [
        [
          {
            "node": "Fetch Course",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Course": {
      "main": [
        [
          {
            "node": "Copy Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Template": {
      "main": [
        [
          {
            "node": "Generate Certificate Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Certificate Doc": {
      "main": [
        [
          {
            "node": "Export to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to PDF": {
      "main": [
        [
          {
            "node": "Upload PDF to Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Directus": {
      "main": [
        [
          {
            "node": "Create Certificate Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Certificate Record": {
      "main": [
        [
          {
            "node": "Prepare Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Payload": {
      "main": [
        [
          {
            "node": "Send Certificate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Certificate Email": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}